{% load staticfiles %}

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "js/metisMenu.js" %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static "js/raphael.js" %}"></script>
<script src="{% static "js/morris.js" %}"></script>
<script src="{% static "js/morris-data.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "js/sb-admin-2.js" %}"></script>