{% load staticfiles %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{% static "css/metisMenu.css" %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static "css/morris.css" %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet" type="text/css">

<!-- specific styling -->
<link href="{% static "css/django_core.css" %}" rel="stylesheet" type="text/css">